/* .carousel-caption {
    position: absolute;
  margin: 0;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  }

  .carousel-inner {
    height: 100%;
  } */

  .carousel-caption {
    position: absolute;
    margin: 0;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .carousel-inner {
    height: 100%;
  }
  
  
  .carousel-caption h5 {
    margin-bottom: 10px; /* Adjust the space between h5 and p */
  }
  .carousel-caption p {
    margin-bottom: 20px; /* Adjust the space between h5 and p */
  }
  
  .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.carousel-indicators .active {
  background-color: #db241c;
}
 
  
  
  
  