
    <header id="tt-header">
      <!-- holder-top (mobile) -->
      <div class="holder-top-mobile d-block d-md-none">
        <div class="h-topbox__content">
          <div class="tt-item">
            <div class="tt-item__icon">
              <span class="icon-map-marker"></span>
            </div>
            <div class="tt-item__text">
              <address>Omkar  Co-Op, Society, Katraj, Pune</address>
            </div>
          </div>
          <div class="tt-item">
            <div class="tt-item__icon"><span class="icon-482948"></span></div>
            <div class="tt-item__text">
              <a href="mailto:admin@dynamicelectricals.com">admin@dynamicelectricals.com</a>
            </div>
          </div>
          <div class="tt-item">
            <div class="tt-item__icon">
              <span class="icon-telephone"></span>
            </div>
            <div class="tt-item__text">
              <address><a href="tel:8805985952">8805985952</a></address>
            </div>
          </div>
          <!-- <div class="tt-item">
					<div class="tt-item__icon"><span class="icon-clock-circular-outline-1"></span></div>
					<div class="tt-item__text">Mon-Fri 08:00 AM - 05:00 PM, Sat-Sun</div>
				</div> -->
        </div>
        <a href="#" class="h-topbox__btn" id="js-toggle-h-holder"
          ><i class="tt-arrow down"></i
        ></a>
      </div>
      <!-- /holder-top (mobile) --><!-- holder-top (desktop) -->
      <div class="holder-top-desktop d-none d-md-block">
        <div class="container container-lg-fluid">
          <div class="row no-gutters">
            <div class="col-auto">
              <div class="h-info01">
                <div class="tt-item">
                  <address>
                    <span class="icon-map-marker"></span>Omkar  Co-Op, Society, Katraj, Pune
                  </address>
                </div>
                <!-- <div class="tt-item"><span class="icon-clock-circular-outline-1"></span>Mon-Fri 08:00 AM -
								05:00 PM</div> -->
              </div>
            </div>
            <div class="col-auto ml-auto">
              <div class="tt-obj">
                <div class="h-info02">
                  <div class="tt-item">
                    <address>
                      <a href="tel:8805985952"
                        ><span class="icon-telephone"></span>8805985952</a
                      >
                    </address>
                  </div>
                </div>
              </div>
              <!-- <div class="tt-obj tt-obj-cart js-dropdown-cart"><a href="#" class="tt-obj__btn"><i
									class="icon-808584"></i>
								<div class="tt-obj__badge">2</div>
							</a>
							<div class="tt-obj__dropdown"></div>
						</div> -->
            </div>
          </div>
        </div>
      </div>
      <!-- /holder-top (desktop) --><!-- holder- -->
      <div id="js-init-sticky">
        <div class="tt-holder-wrapper">
          <div class="container container-lg-fluid">
            <div class="tt-holder">
              <div class="tt-col-logo">
                <!-- logo -->
                <a routerlink="/home" class="tt-logo tt-logo-alignment">
            
                 <img src="assets/images/dyna_logo.png" alt="" />  
					</a
                ><!-- /logo -->
              </div>
              <div class="tt-col-objects tt-col-wide text-center">
                <!-- desktop-nav -->
                <nav id="tt-nav">
                  <ul>
                    <li>
                      <a routerLink="/home">
                        <div class="electric-btn">
                          <span class="text">Home</span>
                          <div class="mask"><span>Home</span></div>
                          <div class="mask"><span>Home</span></div>
                          <div class="mask"><span>Home</span></div>
                          <div class="mask"><span>Home</span></div>
                          <div class="mask"><span>Home</span></div>
                          <div class="mask"><span>Home</span></div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a routerLink="/about">
                        <div class="electric-btn">
                          <span class="text">About Us</span>
                          <div class="mask"><span>About Us</span></div>
                          <div class="mask"><span>About Us</span></div>
                          <div class="mask"><span>About Us</span></div>
                          <div class="mask"><span>About Us</span></div>
                          <div class="mask"><span>About Us</span></div>
                          <div class="mask"><span>About Us</span></div>
                        </div>
                      </a>
                     
                    </li>
                    <li>
                      <a routerLink="/services">
                        <div class="electric-btn">
                          <span class="text">Services</span>
                          <div class="mask"><span>Services</span></div>
                          <div class="mask"><span>Services</span></div>
                          <div class="mask"><span>Services</span></div>
                          <div class="mask"><span>Services</span></div>
                          <div class="mask"><span>Services</span></div>
                          <div class="mask"><span>Services</span></div>
                        </div>
                      </a>
                     
                           
                    </li>
                    <li>
                      <a routerLink="/ourcompany">
                        <div class="electric-btn">
                          <span class="text">Our Company</span>
                          <div class="mask"><span>Our Company</span></div>
                          <div class="mask"><span>Our Company</span></div>
                          <div class="mask"><span>Our Company</span></div>
                          <div class="mask"><span>Our Company</span></div>
                          <div class="mask"><span>Our Company</span></div>
                          <div class="mask"><span>Our Company</span></div>
                        </div>
                      </a>
                      <ul>
                        <li><a href="services-item.html">MK Industries</a></li>
                        <li>
                          <a href="services-item.html">Dynamic Electricals</a>
                        </li>
                        <li>
                          <a href="services-item.html">Dynamic Engineering</a>
                      </ul>
                    </li>
                    <li>
                      <a  routerLink="/gallery">
                        <div class="electric-btn">
                          <span class="text">Gallery</span>
                          <div class="mask"><span>Gallery</span></div>
                          <div class="mask"><span>Gallery</span></div>
                          <div class="mask"><span>Gallery</span></div>
                          <div class="mask"><span>Gallery</span></div>
                          <div class="mask"><span>Gallery</span></div>
                          <div class="mask"><span>Gallery</span></div>
                        </div>
                      </a>
                    </li>
                    <!-- <li><a href="blog.html">
											<div class="electric-btn"><span class="text">Blog</span>
												<div class="mask"><span>Blog</span></div>
												<div class="mask"><span>Blog</span></div>
												<div class="mask"><span>Blog</span></div>
												<div class="mask"><span>Blog</span></div>
												<div class="mask"><span>Blog</span></div>
												<div class="mask"><span>Blog</span></div>
											</div>
										</a>
										<ul>
											<li><a href="blog-item.html">Blog Item</a></li>
										</ul>
									</li> -->
                    <!-- <li><a href="shop.html">
											<div class="electric-btn"><span class="text">Shop</span>
												<div class="mask"><span>Shop</span></div>
												<div class="mask"><span>Shop</span></div>
												<div class="mask"><span>Shop</span></div>
												<div class="mask"><span>Shop</span></div>
												<div class="mask"><span>Shop</span></div>
												<div class="mask"><span>Shop</span></div>
											</div>
										</a>
										<ul>
											<li><a href="shop-item.html">Shop Item</a></li>
										</ul>
									</li> -->
                    <!-- <li><a href="faq.html">
											<div class="electric-btn"><span class="text">FAQ</span>
												<div class="mask"><span>FAQ</span></div>
												<div class="mask"><span>FAQ</span></div>
												<div class="mask"><span>FAQ</span></div>
												<div class="mask"><span>FAQ</span></div>
												<div class="mask"><span>FAQ</span></div>
												<div class="mask"><span>FAQ</span></div>
											</div>
										</a></li> -->
                    <li>
                      <a routerLink="/contact">
                        <div class="electric-btn">
                          <span class="text">Contacts</span>
                          <div class="mask"><span>Contacts</span></div>
                          <div class="mask"><span>Contacts</span></div>
                          <div class="mask"><span>Contacts</span></div>
                          <div class="mask"><span>Contacts</span></div>
                          <div class="mask"><span>Contacts</span></div>
                          <div class="mask"><span>Contacts</span></div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </nav>
                <!-- /desktop-nav -->
              </div>
              <div class="tt-col-objects">
                <div class="tt-col__item d-block d-lg-none">
                  <div class="tt-obj tt-obj-cart js-dropdown-cart">
                    <a href="#" class="tt-obj__btn"
                      ><i class="icon-808584"></i>
                      <div class="tt-obj__badge">2</div>
                    </a>
                    <div class="tt-obj__dropdown"></div>
                  </div>
                </div>
                <div class="tt-col__item d-block d-lg-none">
                  <a href="#" id="tt-menu-toggle" class="icon-545705"></a>
                </div>
                <div class="tt-col__item d-none d-lg-block">
                  <a
                    href="#"
                    class="tt-btn btn__color02"
                    data-toggle="modal"
                    data-target="#modalMakeAppointment"
                    ><span class="icon-whatsapp"></span> </a>

                   
                 <!-- <i class="bi bi-whatsapp"></i> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    