.nav-item{
    padding-right: 30px;
    font-weight: 700;
  
}
.logo-img{
    display: inline;
    width: 70%;
    /* padding-right: 20px; */
    
}
@media only screen and (max-width: 600px) {
  .inline{
    display: inline;
  }
}
@media only screen and (max-width: 400px) {
  .inline{
    display: inline;
  }
}
@media only screen and (max-width: 600px) {
  #js-toggle-h-holder{
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  #js-toggle-h-holder{
    display: none;
  }
}


.navbar-nav li.nav-item:hover  .text {
    color: #db241c; /* Change this to your desired hover color */
  }

  
  
  .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #f0f0f0; /* Change this to your desired hover background color */
    color: red; /* Change this to your desired hover text color */
    font-weight: 700;
  }