<header id="tt-header">
  <!-- holder-top (mobile) -->
  <div class="holder-top-mobile d-block d-md-none">
    <div class="h-topbox__content">
      <div class="tt-item">
        <div class="tt-item__icon">
          <span class="icon-map-marker"></span>
        </div>
        <div class="tt-item__text">
          <address>Omkar Co-Op, Society, Katraj, Pune</address>
        </div>
      </div>
      <div class="tt-item">
        <div class="tt-item__icon"><span class="icon-482948"></span></div>
        <div class="tt-item__text">
          <a href="mailto:admin@dynamicelectricals.com">admin@dynamicelectricals.com</a>
        </div>
      </div>
      <div class="tt-item">
        <div class="tt-item__icon">
          <span class="icon-telephone"></span>
        </div>
        <div class="tt-item__text">
          <address><a href="tel:8805985952">8805985952</a></address>
        </div>
      </div>
      <!-- <div class="tt-item">
					<div class="tt-item__icon"><span class="icon-clock-circular-outline-1"></span></div>
					<div class="tt-item__text">Mon-Fri 08:00 AM - 05:00 PM, Sat-Sun</div>
				</div> -->
    </div>
    <a href="#" class="h-topbox__btn" id="js-toggle-h-holder"><i class="tt-arrow down"></i></a>
  </div>
  <!-- /holder-top (mobile) --><!-- holder-top (desktop) -->
  <div class="holder-top-desktop d-none d-md-block">
    <div class="container container-lg-fluid">
      <div class="row no-gutters">
        <div class="col-auto">
          <div class="h-info01">
            <div class="tt-item">
              <address>
                <span class="icon-map-marker"></span>Omkar Co-Op, Society, Katraj, Pune
              </address>
            </div>
            <!-- <div class="tt-item"><span class="icon-clock-circular-outline-1"></span>Mon-Fri 08:00 AM -
								05:00 PM</div> -->
          </div>
        </div>
        <div class="col-auto ml-auto">
          <div class="tt-obj">
            <div class="h-info02">
              <div class="tt-item">
                <address>
                  <span class="icon-telephone"></span>
                  <a href="tel:8805985952">+91 8805985952</a>
                </address>
              </div>
            </div>
          </div>
          <!-- <div class="tt-obj tt-obj-cart js-dropdown-cart"><a href="#" class="tt-obj__btn"><i
									class="icon-808584"></i>
								<div class="tt-obj__badge">2</div>
							</a>
							<div class="tt-obj__dropdown"></div>
						</div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- /holder-top (desktop) --><!-- holder- -->
  <div id="js-init-sticky">
    <div class="tt-holder-wrapper">
      <div class="container container-lg-fluid">
        <div class="tt-holder">
          <!-- <div class="tt-col-logo ">
        
            <a href="/home" class="tt-logo tt-logo-alignment ">

              <img src="assets/images/dyna_logo.png" alt="" />
            </a> 
          
          </div> -->
          <div class="tt-col-objects tt-col-wide ">
            <!-- <nav id="tt-nav">
              <ul>
                <li>
                  <a routerLink="/home">
                    <div class="electric-btn">
                      <span class="text">Home</span>
                      <div class="mask"><span>Home</span></div>
                      <div class="mask"><span>Home</span></div>
                      <div class="mask"><span>Home</span></div>
                      <div class="mask"><span>Home</span></div>
                      <div class="mask"><span>Home</span></div>
                      <div class="mask"><span>Home</span></div>
                    </div>
                  </a>
                </li>
                <li>
                  <a routerLink="/about">
                    <div class="electric-btn">
                      <span class="text">About Us</span>
                      <div class="mask"><span>About Us</span></div>
                      <div class="mask"><span>About Us</span></div>
                      <div class="mask"><span>About Us</span></div>
                      <div class="mask"><span>About Us</span></div>
                      <div class="mask"><span>About Us</span></div>
                      <div class="mask"><span>About Us</span></div>
                    </div>
                  </a>

                </li>
                <li>
                  <a routerLink="/services">
                    <div class="electric-btn">
                      <span class="text">Services</span>
                      <div class="mask"><span>Services</span></div>
                      <div class="mask"><span>Services</span></div>
                      <div class="mask"><span>Services</span></div>
                      <div class="mask"><span>Services</span></div>
                      <div class="mask"><span>Services</span></div>
                      <div class="mask"><span>Services</span></div>
                    </div>
                  </a>


                </li>
                <li>
                  <a>
                    <div class="electric-btn">
                      <span class="text">Our Company</span>
                      <div class="mask"><span>Our Company</span></div>
                      <div class="mask"><span>Our Company</span></div>
                      <div class="mask"><span>Our Company</span></div>
                      <div class="mask"><span>Our Company</span></div>
                      <div class="mask"><span>Our Company</span></div>
                      <div class="mask"><span>Our Company</span></div>
                    </div>
                  </a>
                  <ul>
                    <li><a href="http://www.mkindustriespune.com">MK Industries</a></li>
                   
                    <li>
                      <a href="/">Dynamic Engineering </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a routerLink="/gallery">
                    <div class="electric-btn">
                      <span class="text">Gallery</span>
                      <div class="mask"><span>Gallery</span></div>
                      <div class="mask"><span>Gallery</span></div>
                      <div class="mask"><span>Gallery</span></div>
                      <div class="mask"><span>Gallery</span></div>
                      <div class="mask"><span>Gallery</span></div>
                      <div class="mask"><span>Gallery</span></div>
                    </div>
                  </a>
                </li>
                <li>
                  <a routerLink="/contact">
                    <div class="electric-btn">
                      <span class="text">Contact Us</span>
                      <div class="mask"><span>Contact Us</span></div>
                      <div class="mask"><span>Contact Us</span></div>
                      <div class="mask"><span>Contact Us</span></div>
                      <div class="mask"><span>Contact Us</span></div>
                      <div class="mask"><span>Contact Us</span></div>
                      <div class="mask"><span>Contact Us</span></div>
                    </div>
                  </a>
                </li>
              </ul>
            </nav> -->
            <!-- bootstrap navbar -->
            <nav class="navbar navbar-expand-lg navbar-expand-md">
              
                <a class="navbar-brand " href="/home"> <img class="logo-img" src="assets/images/dyna_logo.png" alt="" /></a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" routerLink="/home">
                        <div class="electric-btn">
                          <span class="text">Home</span>
                          
                        </div>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/about">
                        <div class="electric-btn">
                          <span class="text">About Us</span>
                          
                        </div>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/services">
                        <div class="electric-btn">
                          <span class="text">Services</span>
                          
                        </div>
                      </a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Our Company
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Dynamic Engineering</a></li>
                        <li><a class="dropdown-item" href="#">MK Indusries</a></li>
                        
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " routerLink="/gallery">
                        <div class="electric-btn">
                          <span class="text">Gallery</span>
                          
                        </div>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " routerLink="/contact">
                        <div class="electric-btn">
                          <span class="text">Contact Us</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                  
                </div>
              
            </nav>


            <!-- <nav class="navbar navbar-expand-lg bg-light">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled">Disabled</a>
                    </li>
                  </ul>
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </div>
            </nav> -->


            <!-- /desktop-nav -->
          </div>
          
          <!-- <div>
            <a href="https://api.whatsapp.com/send?phone=9822035104">
              <img src="./assets/images/whatsapp-button.png">
            </a>
          </div> -->
          <!-- <div class="tt-col-objects">
            <div class="tt-col__item d-block d-lg-none">
              <div class="tt-obj tt-obj-cart js-dropdown-cart">
                <a href="#" class="tt-obj__btn"><i class="icon-808584"></i>
                  <div class="tt-obj__badge">2</div>
                </a>
                <div class="tt-obj__dropdown"></div>
              </div>
            </div>
            <div class="tt-col__item d-block d-lg-none">
              <a href="#" id="tt-menu-toggle" class="icon-545705"></a>
            </div>
            <div class="tt-col__item d-none d-lg-block">
              <a href="#" class="tt-btn btn__color01" data-toggle="modal" data-target="#modalMakeAppointment"><span
                  class="icon-lightning"></span> </a>


              <i class="bi bi-whatsapp"></i>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  
</header>