<div
      class="tt-breadcrumb"
       style="background-color:black;"
     
    >
     <!--style="background-image: url('assets/images/breadcrumb_bg.jpg')" -->
      <div class="container container-lg-fluid font-weight-bold">
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li>Gallery</li>
        </ul>
      </div>
    </div>
    <main id="tt-pageContent">
      <div class="section-indent">
        <div class="container container-md-fluid">
          <div class="section-title max-width-01">
            <div class="section-title__01">Electrical Gallery</div>
            <div class="section-title__02">Our Photo Gallery</div>
            <div class="section-title__03">
              You will really enjoy doing business with us! Fast, electrical
              estimates at a competitive price. We save you time and money.
              Interested? Check out our photos.
            </div>
          </div>
          <div id="filter-nav">
            <ul>
              <li class="active">
                <a class="gallery-navitem" href="filter-all">All</a>
              </li>
              <li>
                <a class="gallery-navitem" href="filter-electrical"
                  >Electrical</a
                >
              </li>
              <li>
                <a class="gallery-navitem" href="filter-heating">Heating</a>
              </li>
              <li>
                <a class="gallery-navitem" href="filter-conditioning"
                  >Air Conditioning</a
                >
              </li>
              <li>
                <a class="gallery-navitem" href="filter-security"
                  >Security Systems</a
                >
              </li>
              <li><a class="gallery-navitem" href="filter-other">Other</a></li>
            </ul>
          </div>
          <div
            id="filter-layout"
            class="row justify-content-center tt-gallery-wrapper js-wrapper-gallery"
          >
            <div class="col-6 col-md-4 show filter-all filter-electrica">
              <a href="assets/images/gallery-img01.jpg" class="tt-gallery"
                ><div class="gallery__icon"></div>
                <img src="assets/images/gallery-img01.jpg" alt=""
              /></a>
            </div>
            <div class="col-6 col-md-4 show filter-all filter-electrica">
              <a href="assets/images/gallery-img02.jpg" class="tt-gallery"
                ><div class="gallery__icon"></div>
                <img src="assets/images/gallery-img02.jpg" alt=""
              /></a>
            </div>
            <div class="col-6 col-md-4 show filter-all filter-heating">
              <a href="assets/images/gallery-img03.jpg" class="tt-gallery"
                ><div class="gallery__icon"></div>
                <img src="assets/images/gallery-img03.jpg" alt=""
              /></a>
            </div>
            <div class="col-6 col-md-4 show filter-all filter-heating">
              <a href="assets/images/gallery-img04.jpg" class="tt-gallery"
                ><div class="gallery__icon"></div>
                <img src="assets/images/gallery-img04.jpg" alt=""
              /></a>
            </div>
            <div class="col-6 col-md-4 show filter-all filter-conditioning">
              <a href="assets/images/gallery-img05.jpg" class="tt-gallery"
                ><div class="gallery__icon"></div>
                <img src="assets/images/gallery-img05.jpg" alt=""
              /></a>
            </div>
            <div class="col-6 col-md-4 show filter-all filter-conditioning">
              <a href="assets/images/gallery-img06.jpg" class="tt-gallery"
                ><div class="gallery__icon"></div>
                <img src="assets/images/gallery-img06.jpg" alt=""
              /></a>
            </div>
            <div class="col-6 col-md-4 show filter-all filter-security">
              <a href="assets/images/gallery-img07.jpg" class="tt-gallery"
                ><div class="gallery__icon"></div>
                <img src="assets/images/gallery-img07.jpg" alt=""
              /></a>
            </div>
            <div class="col-6 col-md-4 show filter-all filter-security">
              <a href="assets/images/gallery-img08.jpg" class="tt-gallery"
                ><div class="gallery__icon"></div>
                <img src="assets/images/gallery-img08.jpg" alt=""
              /></a>
            </div>
            <div class="col-6 col-md-4 show filter-all filter-other">
              <a href="assets/images/gallery-img09.jpg" class="tt-gallery"
                ><div class="gallery__icon"></div>
                <img src="assets/images/gallery-img09.jpg" alt=""
              /></a>
            </div>
            <div class="col-6 col-md-4 show filter-all filter-other">
              <a href="assets/images/gallery-img10.jpg" class="tt-gallery"
                ><div class="gallery__icon"></div>
                <img src="assets/images/gallery-img10.jpg" alt=""
              /></a>
            </div>
            <div class="col-6 col-md-4 show filter-all filter-heating">
              <a href="assets/images/gallery-img11.jpg" class="tt-gallery"
                ><div class="gallery__icon"></div>
                <img src="assets/images/gallery-img11.jpg" alt=""
              /></a>
            </div>
            <div class="col-6 col-md-4 show filter-all filter-electrical">
              <a href="assets/images/gallery-img12.jpg" class="tt-gallery"
                ><div class="gallery__icon"></div>
                <img src="assets/images/gallery-img12.jpg" alt=""
              /></a>
            </div>
            <div
              class="col-12 text-center tt-top-more"
              id="js-more-include"
              data-include="assets/ajax-content/more-gallery.php"
            >
              <a href="#" class="tt-link"
                >More photos<span
                  class="icon-arrowhead-pointing-to-the-right-1"
                ></span
              ></a>
            </div>
          </div>
        </div>
      </div>
    </main>
 <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=false"
    ></script>
    <script src="assets/js/jquery.min.js"></script>
    <script async="" src="assets/js/bundle.js"></script>
    <!-- modal - Make an Appointment -->
    <div
      class="modal fade"
      id="modalMakeAppointment"
      tabindex="-1"
      role="dialog"
      aria-label="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-body form-default modal-layout-dafault">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              <span class="icon-860796"></span>
            </button>
            <div class="modal-titleblock">
              <div class="modal-title">Make an Appointment</div>
            </div>
            <form
              class="form-modal"
              id="jsFormMakeAppointment"
              method="post"
              novalidate="novalidate"
              action="#"
            >
              <div class="form-group">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="modalName01"
                  placeholder="Your Name *"
                />
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      name="email"
                      class="form-control"
                      id="modalEmail01"
                      placeholder="Your e-mail address *"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      name="phone"
                      class="form-control"
                      id="modalPhone01"
                      placeholder="Your phone number"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="modalAddress"
                  class="form-control"
                  id="modalAddress"
                  placeholder="Address *"
                />
              </div>
              <div class="form-group">
                <div class="custom-select">
                  <select name="typeofservice" class="tt-select">
                    <option value="Service">Service</option>
                    <option value="Service 02">Service 02</option>
                    <option value="Service 03">Service 03</option>
                    <option value="Service 04">Service 04</option>
                    <option value="Service 05">Service 05</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <input
                  name="date"
                  placeholder="Date of visit"
                  autocomplete="off"
                  data-timepicker="true"
                  class="js_datepicker-1 form-control"
                  type="text"
                />
                <div class="form-group__icon icon-747993"></div>
              </div>
              <div class="form-group">
                <textarea
                  name="message"
                  class="form-control"
                  placeholder="Your comment"
                ></textarea>
              </div>
              <button type="submit" class="tt-btn btn__color01">
                <span class="icon-lightning"></span>Explore services
              </button>
              <div class="tt-modal-message">Form sent successfully</div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <a href="#" id="js-backtotop" class="tt-back-to-top"
      ><i class="icon-lightning"></i
    ></a>
    <script>
      var giftofspeed = document.createElement("link");
      giftofspeed.rel = "stylesheet";
      giftofspeed.href = "assets/css/styles__loaded_later.css";
      giftofspeed.type = "text/css";
      var godefer = document.getElementsByTagName("link")[0];
      godefer.parentNode.insertBefore(giftofspeed, godefer);
    </script>
